* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 50px;
}

input {
  width: 100%;
  font-family: 1.3em;
}

.card {
  align-content: center;
  border-radius: 6px;
  border: 1px solid gray;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-width: 170px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}